# 라이브러리 호출

In [2]:
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns


from glob import glob

## 데이터 불러오기

In [10]:
path = glob('/Users/yujaehyeon/Desktop/DACON/Movie/data/영화 관객수/*')

In [11]:
path

['/Users/yujaehyeon/Desktop/DACON/Movie/data/영화 관객수/submission.csv',
 '/Users/yujaehyeon/Desktop/DACON/Movie/data/영화 관객수/movies_test.csv',
 '/Users/yujaehyeon/Desktop/DACON/Movie/data/영화 관객수/movies_train.csv']

In [14]:
train = pd.read_csv(path[2])
test = pd.read_csv(path[1])

# EDA

### pandas의 메서드로 보는 간단한 탐색
데이터를 불러온 후에는 기본적으로 어떤 형태의 데이터가 있는지 살펴볼 수 있으며 다음 메서드를 사용할 수 있습니다.

* .head() : 상위 5개, 괄호 안에 숫자로 갯수 변경 가능
* .tail() : 하위 5개, 괄호 안에 숫자로 갯수 변경 가능
* .sample() : 랜덤 5개, 괄호 안에 숫자로 갯수 변경 가능

In [18]:
train.head()

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

* title : 제목
* distributor : 배급사
* genre : 장르
* release_time : 개봉일
* time : 상영 시간
* screening_rat : 상영 등급
* director : 감독명
* dir_prev_bfnum : 해당 감독이 이 영화를 만들기 전 제작에 참여한 영화에서의 평균 관객수
* dir_prev_num : 해당 감독이 이 영화를 만들기 전 제작에 참여한 영화의 개수
* num_staff : 스태프 수
* num_actor : 주연배우 수
* box_off_num : 관객 수

In [19]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           600 non-null    object
 1   distributor     600 non-null    object
 2   genre           600 non-null    object
 3   release_time    600 non-null    object
 4   time            600 non-null    int64
 5   screening_rat   600 non-null    object
 6   director        600 non-null    object
 7   dir_prev_bfnum  270 non-null    float64
 8   dir_prev_num    600 non-null    int64
 9   num_staff       600 non-null    int64
 10  num_actor       600 non-null    int64
 11  box_off_num     600 non-null    int64
dtypes: float64(1), int64(5), object(6)
memory usage: 56.4+ KB

* object인 feature는 대부분의 머신러닝 모델에 직접적인 입력 값으로 사용할 수 없으니 전처리 과정이 필요합니다.

---
* dir_prev_bfnum feature에 null값이 존재

In [20]:
train.describe()

,time,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
count,600.000000,2.700000e+02,600.000000,600.000000,600.000000,6.000000e+02
mean,100.863333,1.050443e+06,0.876667,151.118333,3.706667,7.081818e+05
std,18.097528,1.791408e+06,1.183409,165.654671,2.446889,1.828006e+06
min,45.000000,1.000000e+00,0.000000,0.000000,0.000000,1.000000e+00
25%,89.000000,2.038000e+04,0.000000,17.000000,2.000000,1.297250e+03
50%,100.000000,4.784236e+05,0.000000,82.500000,3.000000,1.259100e+04
75%,114.000000,1.286569e+06,2.000000,264.000000,4.000000,4.798868e+05
max,180.000000,1.761531e+07,5.000000,869.000000,25.000000,1.426277e+07

In [22]:
train.describe(include='O')

         title distributor genre release_time screening_rat director
count      600         600   600          600           600      600
unique     600         169    12          330             4      472
top     개들의 전쟁   CJ 엔터테인먼트   드라마   2015-10-22      청소년 관람불가      홍상수
freq         1          54   221            6           204        7